node_modules
instructor.md
/demos/typescript-demo/**/*.js
/dist/basic-types/basic_type_primitive.d.ts
/dist/basic-types/basic_type_primitive.js
/dist/basic-types/basic_type_primitive.js.map
/dist/decorators/function_decorators.d.ts
/dist/decorators/function_decorators.js
/dist/decorators/function_decorators.js.map
/dist/get-started/get-started.d.ts
/dist/get-started/get-started.js
/dist/get-started/get-started.js.map
/dist/ts-in-5m/greeter.d.ts
/dist/ts-in-5m/greeter.js
/dist/ts-in-5m/greeter.js.map
/dist/ts-in-5m/greeter_interface.d.ts
/dist/ts-in-5m/greeter_interface.js
/dist/ts-in-5m/greeter_interface.js.map
/dist/interfaces/interface_print_label.d.ts
/dist/interfaces/interface_print_label.js
/dist/interfaces/interface_print_label.js.map
/dist/interfaces/interface_properties.d.ts
/dist/interfaces/interface_properties.js
/dist/interfaces/interface_properties.js.map
/dist/basic_types/null_and_undefined.d.ts
/dist/basic_types/null_and_undefined.js
/dist/basic_types/null_and_undefined.js.map
/dist/interfaces/out_first_interface.d.ts
/dist/interfaces/out_first_interface.js
/dist/interfaces/out_first_interface.js.map
/dist/tsconfig.tsbuildinfo
/dist/variable-declarations/variable-declarations.d.ts
/dist/variable-declarations/variable-declarations.js
/dist/variable-declarations/variable-declarations.js.map
